$primary-color: #0a1ee4;
$primary-dark-color: #081bc4;
$secondary-color: #e4d00a;
$secondary-dark-color: #c4b108;
$dark-color: #1c1c1c;
$light-color: #e6e7e8;

$headers: 'Fira Code', monospace;
$text: 'Heebo', sans-serif;

$home-bg-img: url('/dist/imgs/at\ my\ desk.jpg');
$about-headshot: url('/dist/imgs/unprofessional\ headshot.jpg');
$skill-design: url('/dist/imgs/deja\ dev\ index\ wireframe.jpg');
$skill-dev: url('/dist/imgs/deja_dev_site.jpg');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // border: 1px solid red;
}
html{background-color: $light-color;}
body{
  font-family: $text;
  color: $dark-color;
  font-size: 1.25rem;
}

h1,h2,h3,h4,h5,h6{font-family: $headers;}
hr{
  border-top: 1px solid $secondary-dark-color;
  border-bottom: 0;
  width: 100%;
}

nav ul{ display: flex;}
nav li{
  list-style-type: none;
  margin: 0 1.5rem;
}
a{
  text-decoration: none;
  color: $light-color;

  &:hover{color: $secondary-color;}
  &.current{color: $secondary-dark-color;}
}

.primaryTxt{color: $secondary-color;}
.boldTxt{font-weight: bold;}

img{width: 300px;}

.py-1{padding: 1rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.my-1{margin: 1rem 0;}
.my-2{margin: 2rem 0;}
.my-3{margin: 3rem 0;}
.mAuto{margin: auto;}

.centerText{text-align: center;}

.flexColCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flexRowCenter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flexFlip{flex-direction: row-reverse;}