$primary-color: #0a1ee4;
$primary-dark-color: #081bc4;
$secondary-color: #e4d00a;
$secondary-dark-color: #c4b108;
$dark-color: #1c1c1c;
$light-color: #e6e7e8;

$headers: 'Fira Code', monospace;
$text: 'Heebo', sans-serif;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // border: 1px solid red;
}

html{background-color: $light-color;}
body{font-family: $text;}
h1,h2,h3,h4,h5,h6{font-family: $headers;}

nav ul{
  display: flex;
}
nav li{
  list-style-type: none;
  margin: 0 1.5rem;
}
a{
  text-decoration: none;
  color: $light-color;

  &:hover{color: $secondary-color;}
  &.current{color: $secondary-dark-color;}
}