@import 'config';

#mainNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  max-height: 4rem;
  padding: .5rem;
  border-bottom: 1px solid $secondary-color;
  background-color: $dark-color;
  .navImgContainer{
    width: 8rem;
    img{
      width: 100%;
    }
  }
  li{position: relative;}
  a{
    &::before, &.current::before{
      position: absolute;
      content: '';
      width: 2px;
      height: 100px;
      background-color: $secondary-color;
      left: 50%;
      top: -100px;
    }
  }
}
  // nav on inner pages
  #mainNav.inner{
    min-height: 4rem;
    max-height: 4rem;
    padding: .5rem;
    .navImgContainer{
      width: 4rem;
      img{
        width: 100%;
      }
    }
  }

// index
#homeHero{
  position: relative;
  background: $home-bg-img no-repeat center center/cover;
  
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container{
    background-color: rgba($dark-color, $alpha: .5);
    color: $light-color;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
  }
  h2{font-size: 3rem;}
  h1{font-size: 6rem;}
  h3{font-size: 2rem;}
  hr{
    border-top: 1px solid $secondary-dark-color;
    border-bottom: 0;
    width: 100%;
  }
}

// about
#about{
  // padding: 0 3rem;

  .aboutImgContainer{
    i{
      color: $primary-dark-color;
      // border: 1px solid $dark-color;
      border-radius: 50%;
      padding: 1.5rem;
      margin: 1rem;
    }
    img{
      // border: 1px solid $primary-color;
      width: 200px;
      border-radius: 50%;
    }
  }
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  color: $secondary-dark-color;
  padding: .5rem;
}