@import 'config';

#homeNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border-bottom: 1px solid $secondary-color;
  background-color: $dark-color;
  img{width: 200px;}

  li{position: relative;}
  a{
    &::before, &.current::before{
      position: absolute;
      content: '';
      width: 2px;
      height: 100px;
      background-color: $secondary-color;
      left: 50%;
      top: -100px;
    }
  }
}

#homeHero{
  position: relative;
  background: url('/dist/imgs/at\ my\ desk.jpg') no-repeat center center/cover;
  
  height: calc(100vh - 61.156px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container{
    background-color: rgba($dark-color, $alpha: .5);
    color: $light-color;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
  }
  h2{font-size: 3rem;}
  h1{font-size: 6rem;}
  h3{font-size: 2rem;}
  hr{
    border-top: 1px solid $secondary-dark-color;
    border-bottom: 0;
    width: 100%;
  }
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  color: $secondary-dark-color;
  padding: .5rem;
}